---
// Composables
import {getHighResImage, getLowResImage} from "@images/utils";

// JavaScript
interface Props {
    class?: string;
    title: string;
    "background-image": string;
}

const {class: className, title, "background-image": bgImageName} = Astro.props;

const highResBackgroundImage = await getHighResImage(bgImageName);
const lowResBackgroundImage = await getLowResImage(`lowres_${bgImageName}`);

const coverImageStyle = `
    background:	 		
        linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.66) 0%,
            rgba(0, 0, 0, 0) 66%
        ),
        url('${highResBackgroundImage.src}'),
        url('${lowResBackgroundImage.src}');
      
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
`;
---

<div
    class:list={["[ full-width section ]", `[ ${className} ]`]}
    style={coverImageStyle}
>
    <h1 class="text-shadow" data-aos="fade-right" data-aos-duration="1000">
        {title}
    </h1>
</div>
