---
// Styles
import "./ContactDetailsItem.scss";

// Libraries
import {Icon} from "astro-icon/components";

// Javascript
interface Props {
    key: string;
    class?: string;
    category: string;
    icon: string;
    text: string;
    link: string;
    openInNewTab?: boolean;
}

const {
    key,
    class: className,
    category,
    icon,
    link,
    openInNewTab = false,
    text,
} = Astro.props;
---

<div id={key} class:list={["[ contact-item ] [ flex-group ]", className]}>
    <Icon name={icon} class="contact-item__icon" />
    <div>
        <p class="clr-medium fs-200 line-height-none">{category}</p>
        <p class="line-height-none pt-xs">
            <a
                class="clr-primary-shade"
                href={link}
                target={openInNewTab ? "_blank" : ""}>{text}</a
            >
        </p>
    </div>
</div>
