---
// Styles
import "./ContactDetailsItem.scss";

// Libraries
import {Icon} from "astro-icon/components";

// Javascript
interface Props {
    class?: string;
    category: string;
    icon: string;
    text: string;
    link: string;
    openInNewTab?: boolean;
}

const {
    class: className,
    category,
    icon,
    link,
    openInNewTab = false,
    text,
} = Astro.props;
---

<div class:list={["[ contact-item ] [ flex-group ]", className]}>
    <Icon name={icon} class="contact-item__icon" />
    <div>
        <p class="clr-medium fs-200 line-height-none">{category}</p>
        <p class="pt-xxs">
            <a
                class="clr-primary-shade"
                href={link}
                target={openInNewTab ? "_blank" : ""}>{text}</a
            >
        </p>
    </div>
</div>
