---
// Libraries and Packages

// Internal Components and Assets

// Styles
import "./ContactDetailsItem.scss";
import Icon from "astro-icon";

// Javascript
interface Props {
    key: string;
    class?: string;
    category: string;
    icon: string;
    link: string;
    openInNewTab: boolean;
    text: string;
}

const {
    key,
    class: className,
    category,
    icon,
    link,
    openInNewTab = false,
    text,
} = Astro.props;
---

<div id={key} class:list={["[ contact-item ] [ flex-group ]", className]} ">
    <Icon name={icon} class="contact-item__icon" />
    <div>
        <p class="clr-dark fs-200 line-height-none">{category}</p>
        <p class="line-height-none pt-xs">
            <a href={link} target={openInNewTab && "_blank"}>{text}</a>
        </p>
    </div>
</div>
