---
// Images
import {Image} from "astro:assets";
import profilePicture from "@images/elise-tint.png";

// Components
import BaseLayout from "./BaseLayout.astro";
import CoverImage from "../components/CoverImage/CoverImage.astro";

// Composables
import {getLocaleFromUrl, useTranslations} from "@i18n/utils";
import {getLowResImage} from "@images/utils";

// JavaScript
const t = useTranslations(getLocaleFromUrl(Astro.url));
const {title, coverImage} = Astro.props.frontmatter;

// const highResPicture = await getHighResImage("elise-tint.png");
const lowResPicture = await getLowResImage("lowres_elise-tint.png");
---

<BaseLayout title={`Elise Grimm - ${t("nav.about")}`}>
    <CoverImage title={title} background-image={coverImage} class="clr-white" />
    <main
        class="wrapper section"
        data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
    >
        <div class="flow">
            <Image
                src={profilePicture}
                format="jpeg"
                alt={t("about.picture.alt")}
                class="[ profile__picture ] [ blur-load ]"
                style={{
                    height: "auto",
                    backgroundImage: `url('${lowResPicture.src}')`,
                }}
                data-aos="fade-left"
                data-aos-offset="250"
            />
            <slot />
        </div>
    </main>
</BaseLayout>

<style lang="scss">
    @use "@styles/abstracts" as *;

    .profile__picture {
        border-radius: 100dvw;
        float: right;
        margin-inline: var(--space-md);
        margin-block-end: var(--space-md);
        max-height: 320px;
        width: auto;

        @media (max-width: $breakpoint-medium) {
            float: none;
            margin-inline: auto;
        }
    }
</style>
