---
// Components
import BaseLayout from "@layouts/BaseLayout.astro";
import CoverImage from "@components/CoverImage/CoverImage.astro";
import GoogleMaps from "@components/GoogleMaps/GoogleMaps.astro";

// Composables
import {getLocaleFromUrl, useTranslations} from "@i18n/utils";

// JavaScript
const t = useTranslations(getLocaleFromUrl(Astro.url));
const {
    title,
    coverImage,
    id: pageID,
    importantMessage,
    localisation1,
    localisation2
} = Astro.props.frontmatter;

const map1ApiId = import.meta.env.MAP1_ID;
const streetName1 = t("maps.street1");
const lat1 = t("maps.coord1.lat");
const lng1 = t("maps.coord1.lng");
const commune1 = t("header.location1.commune");

const map2ApiId = import.meta.env.MAP2_ID;
const streetName2 = t("maps.street2");
const lat2 = t("maps.coord2.lat");
const lng2 = t("maps.coord2.lng");
const commune2 = t("header.location2.commune");
---

<BaseLayout title={`Elise Grimm - ${t(`${pageID}`)}`}>
    <CoverImage title={title} background-image={coverImage} class="clr-white" />
    <main
        class="wrapper section flow"
        data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
    >
        <div class="flow">
            <slot />
        </div>

        <div class="even-columns align-items-baseline mt-xl" style="--grid-column-gap: var(--space-md)">
            <div class="flow card">
                <h3 class="fs-600">{commune1}</h3>
                <GoogleMaps id="map1" mapApiId={map1ApiId} lat={lat1} lng={lng1} streetName={streetName1} />
                <Fragment set:html={localisation1} />
            </div>

            <div class="flow card">
                <h3 class="fs-600">{commune2}</h3>
                <GoogleMaps id="map2" mapApiId={map2ApiId} lat={lat2} lng={lng2} streetName={streetName2} />
                <Fragment set:html={localisation2} />
            </div>
        </div>

        <div class="[ important-message ] [ bg-lightest box-shadow mt-lg ]">
            <Fragment set:html={importantMessage} />
        </div>
    </main>
</BaseLayout>

<style lang="scss">
    @use "@styles/abstracts" as *;

    .important-message {
        border-radius: 13px;
        padding: var(--space-md);
    }
</style>
