---
// Styles
import "./TheHeader.scss";

// Components
import TheLanguagePicker from "../TheLanguagePicker/TheLanguagePicker.astro";
import TheNavigation from "@components/TheNavigation/TheNavigation.astro";
import ContactDetailsItem from "../ContactDetailsItem/ContactDetailsItem.astro";

// Composables
import {
    getLocaleFromUrl,
    useTranslations,
    useTranslatedPath,
} from "@i18n/utils";

// Javascript
const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
const translatePath = useTranslatedPath(locale);

const contactDetails = [
    {
        icon: "phone",
        category: t("header.phone"),
        text: t("contact.phone.text"),
        link: `tel:${t("contact.phone.link")}`,
        openInNewTab: false,
    },
    {
        icon: "mail",
        category: t("header.email"),
        text: t("contact.email"),
        link: `mailto:${t("contact.email")}`,
        openInNewTab: false,
    },
    {
        icon: "location",
        category: t("header.schedule"),
        text: t("header.location.text"),
        link: t("header.location.maps"),
        openInNewTab: true,
    },
];
---

<header class="[ header ] [ full-width bg-white ]">
    <div class="[ header__container ] [ px-sm ]">
        <div class="flex-group" style="  --flex-align: center">
            <a
                class="[ header__logo ] [ ff-heading clr-dark fs-700 fw-bold line-height-heading ]"
                aria-label={t("header.gotohomepage")}
                href={translatePath("/")}
            >
                EG
            </a>
            <TheLanguagePicker separator="left" />
        </div>
        <TheNavigation />
    </div>
    <div class="[ contact-details ] [ full-width bg-lightest ]">
        <details id="contact-details">
            <summary id="contact-details-toggle" class="px-md clr-primary-shade"
                >{t("header.showdetails")}</summary
            >
            <div
                class="[ header__contact-details ] [ flex-group pb-md fs-300 ]"
                data-device="mobile"
            >
                {
                    contactDetails.map(item => (
                        <ContactDetailsItem
                            category={item.category}
                            icon={item.icon}
                            text={item.text}
                            link={item.link}
                            openInNewTab={item.openInNewTab}
                        />
                    ))
                }
            </div>
        </details>

        <div
            class="[ header__contact-details ] [ flex-group px-md fs-300 ]"
            data-device="desktop"
        >
            {
                contactDetails.map(item => (
                    <ContactDetailsItem
                        category={item.category}
                        icon={item.icon}
                        text={item.text}
                        link={item.link}
                        openInNewTab={item.openInNewTab}
                    />
                ))
            }
        </div>
    </div>
</header>

<script>
    const contactDetails = document.getElementById("contact-details");
    const contactDetailsToggle = document.getElementById(
        "contact-details-toggle",
    );

    if (!contactDetails || !contactDetailsToggle)
        throw new Error("contact details error");

    contactDetailsToggle.addEventListener("click", () => {
        const contactDetailsIsOpened = !contactDetails.hasAttribute("open");
        localStorage.setItem(
            "contactDetailsIsOpened",
            contactDetailsIsOpened.toString(),
        );
    });

    setTimeout(() => {
        const shouldOpenContactDetails = JSON.parse(
            localStorage.getItem("contactDetailsIsOpened") ?? "false",
        );
        shouldOpenContactDetails || shouldOpenContactDetails === null
            ? contactDetails.setAttribute("open", "")
            : contactDetails.removeAttribute("open");
    }, 500);
</script>
